body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.sessions-table {
    --dg-content-max-width: 1000px;
    width: 1000px;
}

.sessions-table .dataview.table-view-table {
    font-size: 11px;
    width: 100vw;
}

.sessions-table .dataview.table-view-table tbody tr td {
    font-size: 11px;
}

.sessions-table .dataview.table-view-table tbody tr:nth-child(odd) {
    background-color: #2a2a2a;
}

.sessions-table .dataview.table-view-table tbody tr:nth-child(even) {
    background-color: #1e1e1e;
}
